.btn, .btn-rounder, .btn-primary,.btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #76b9b6 !important;
    border-color: #7cc;
}

.container {
    justify-content:center;
}

